/* Everything container */
.everything-container {
  padding: 20px;
  background-color: #f7f9fc;
  min-height: 100vh;
}

.view-options {
  display: flex;
  gap: 10px;
}

.view-btn {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.view-btn:hover {
  background-color: #e0e0e0;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

/* List view container */
.list-view-container {
  position: relative;
  padding: 20px;
  background-color: #f7f9fc;
  min-height: 100vh;
}

/* Filter buttons */
.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 16px;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.filter-btn:hover {
  background-color: #e2e8f0;
}

/* Arama ve görev ekleme butonu */
.task-controls-right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end; /* Butonları sağa hizala */
  margin-bottom: 20px; /* Alttan boşluk bırak */
  margin-top: -170px; /* Yukarı taşımak için negatif margin ekle */
}

.task-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-bar {
  width: 250px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.add-task-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #218838;
}

/* Görev listesi */
.task-list {
  margin-top: 20px;
}

.task-item {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.task-item:hover {
  background-color: #f0f0f0;
}
